body {
  padding: 60px;
  -webkit-font-smoothing: antialiased;

  h1 {
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-bottom: 30px;
    padding-bottom: 10px;
  }

  h1, h2, h3 {  
    font-family: 'EB Garamond', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    a {
      color: $textColor;

      &:hover {
        color: $textHighlightColor;
        text-decoration: none;
      }
    }
  }
}

.post {
  margin-bottom: 60px;

  .date {
    @include inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    padding-left: 10px;
    margin-bottom: -5px;
    color: $dateColor;
  }
}

article {
  margin-bottom: 10px;
}
