body {
  padding: 60px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  @media(max-width: 550px) {
    letter-spacing: 0.25px;
    line-height: 1.7;
  }

  h1 {
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-bottom: 30px;
    padding-bottom: 10px;
  }

  h2 {
    margin: 12px 0;
  }

  h1, h2, h3 {  
    font-family: 'EB Garamond', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    span {
      margin-right: 10px;
    }

    a {
      color: $textColor;
      margin-right: 10px;

      &:hover {
        color: $textHighlightColor;
        text-decoration: none;
      }
    }
  }
}

.post {
  margin-bottom: 50px;

  .date {
    display: inline-block;
    line-height: 1;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: $dateColor;
  }
}

article {
  margin-bottom: 10px;
}

.gist {
  .gist-data {
    max-height: 500px;
  }
}
